html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url('./image.png');
  background-position: center;
  background-size: contain;
  width: 375px;
  height: 660px;
  margin: 0 24px;
}

.menu {
  color: rgb(96, 112, 255);
  font-size: 22px;
}

.mainContent {
  margin: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(52, 69, 99);
}

.connect {
  color: rgb(127, 140, 255);
  text-decoration: none;
  margin: 12px;
  text-transform: uppercase;
}

.primaryHeading {
  font-size: 40px;
  padding-top: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: rgb(23, 43, 77);
  width: 327px;
}

.nav {
  padding: 24px;
  width: 375px;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(96, 112, 255);
}

.icons {
  margin: 12px;
  justify-content: flex-start;
  display: flex;
  gap: 13px;
}

.icons i {
  font-size: 22px;
  color: rgb(80, 95, 121);
}

a:hover.logo {
  color: rgb(37, 3, 3);
}
